{% paginate search.results by 5 %}
  <section class="max-w-3xl mx-auto text-center py-12">

    {% if search.performed %}
      <h1 class="text-3xl font-semibold mb-4">Search results:</h1>
      {% for result in search.results %}
        {% if result.object_type == "page" %}
          {% elsif result.object_type == "article" %}
            <a href="{{result.url}}">{{ result.title }}</a>
          {% elsif result.object_type == "product" %}
            <a href="{{result.url}}">{{ result.title }}</a>
          {% else %}
            <a href="{{result.url}}">{{ result.title }}</a>
        {% endif %}
      {% endfor %}
    {% else %}
      <p>Try searching for something!</p>
    {% endif %}
    <div class="mt-4">
      {{ paginate | default_pagination }}
    </div>
  </section>

{% endpaginate %}